<html>
<div class="container-sm">
	<h1 style="text-align: center;" class="alert alert-success">heloo sailsjs</h1>
<table class="table table-hover table-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>poriya</td>
      <td>daliry</td>
      <td>@poriya2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ali</td>
      <td>mohamdi</td>
      <td>@ali232</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">saman</td>
      <td>@s.23</td>
    </tr>
  </tbody>
</table>
</div>

</html>
